.dashboard{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
}

nav{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* background-color: black; */
    background-color: var(--brand-300);
    padding: 15px;
    position: sticky;
    top: 0;
}

nav a{
    position: relative;
    text-decoration: none;
    /* color: #f7ebec; */
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

nav a:after{
    position: absolute;
    content: "";
    /* background-color: bisque; */
    background-color: var(--white);
    height: 3px;
    left: 50%;
    width: 0;
    bottom: 0;
    transition: 0.4s ease-out;
}
nav a:hover:after{
    left: 0;
    width: 100%;
}

.patientName{
    /* position: sticky;
    top: 5rem; */
    text-transform: capitalize;
    color: var(--brand-300);
    /* padding: 10px 5px; */
    padding-top: 5px;
    padding-left: 5px;
}


.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* max-width: 1200px; */
    height: auto;
    /* background-color: aqua; */
    overflow-y: auto;
}

.tabLabel{
    width: 50vh;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    /* border-bottom: 3px solid var(--brand-400); */
    color: var(--brand-500);
    /* background-color: #f5d7d9; */
}

.tabsRadio{
    display: none;
}

.tabContent{
    order: 1;
    width: 100%;
    /* border-bottom: 10px solid var(--brand-500); */
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* overflow: auto; */
}

.tabContent h4{
    text-transform: capitalize;
    font-size: large;
    padding: 5px;
    margin: 20px;
    margin-bottom: 0;
}

#bookNew{
    /* max-height: 400px; */
    /* height: 400px; */

}

.tabsRadio:checked+.tabLabel{
    border-bottom: 5px solid var(--brand-400);
}

.tabsRadio:checked+.tabLabel+.tabContent{
    display: initial;
}

.appointmentFormFields {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    margin-top: 0;
    margin-left: 15vw;
    margin-right: 10vw;
    padding: 20px;
}
  
.appointmentFormFields .formField {
    width: 100%;
}

/* .formFieldReason{
    margin-top: 8rem;
} */

#reasonLabel{
    padding-left: 30px;
    margin-left: 30px;
}
  
.doctorDetails .formField {
    margin-top: 1rem;
 }

 button[type="submit"], input[type="submit"]{
    /* margin-top: 2rem; */
    text-decoration: none;
    /* font-size: 1.1rem; */
    /* font-weight: 600; */
    color: var(--white);
    background-color: var(--brand-400);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: transform 0.3s ease-in-out;
  }
  
  button[type="submit"], input[type="submit"]:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: -1px 8px 16px 0px rgba(0, 0, 0, 0.4);
  }
 
.appointmentStatus{
    color: var(--white);
    background-color: var(--brand-400);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    /* transition: transform 0.3s ease-in-out; */
}
.appointmentStatus:disabled{
    cursor: not-allowed;
}
  
 input[type="submit"]:disabled {
    color: var(--white);
    background-color: var(--brand-400);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  button[type="submit"]:disabled, input[type="submit"]:disabled:hover {
    cursor: not-allowed;
  }

/* admin's dashboard */
.search{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.searchField{
    /* margin:10px; */
    border: 1px solid var(--brand-400);
}

.searchFieldLabel{
    margin-top: 10px;
}

.tableTitle{
    color: var(--brand-300);
    padding-left: 5px;
    margin: 2rem;
    font-size: xx-large;
}